* main {  
    margin : auto;
        align-items:center;
    width:50%;
    
}

/* is it practice to include main and * with the same selector properties*/
    main{
        display:flex;
        flex-direction:column;
        /* align-items:flex-start;; */
        justify-content:space-between;
        align-content:center;
        margin-top:100px;
    }

.theHeader {
    align-items:center;
    text-align:center;
    font-size:7px;
    box-sizing:border-box;
    border: 2px solid;
    color:white;
    background-color:rgb(23, 197, 23);
    /* flex-grow:1; */
    padding:20px;
    max-height:10px;
    display:flex;
    width:350px;
    

    
}

.theHeader{
    display:flex;
    justify-content:center;
        /* padding:45px 45px 45px 65px; */
        justify-content:center;
        
    }
    
    
    h1{

font-weight:900;
/* padding:auto; */
align-self:center;
font-size: 20px;
/* margin:10px 10px 10px 10px; */

    }


.userInput{
    display:flex;
    margin-top:30px;
}

.userInput input{
    width:230px;
    border:2px solid rgb(23, 197, 23);
    padding:8px;
    flex:2;
    margin-right:10px;
}

.userInput button{
    border:2px solid rgb(23, 197, 23);
    padding:8px;
}

.list{
    /* display:flex; */
    width:350px;
    margin: 10px 10px 10px 10px;
    padding: 5px 5px 5px 5px;
}

.list li{
    display:flex;
    /* margin-left:6px; */

}

/* 
.trash-alt{
padding: 50px
} */
